::-webkit-scrollbar {
    display: none;
}

p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #929292;
}

a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #929292;
}

#navbarTitle {
    float: left;
    margin: 10.3px;
    font-family: 'Titillium Web', sans-serif;
    font-size:36px;
}

#downloadButton {
    background-color: #17e80c;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    margin: 17.5px;
    width: 120px;
    font-family: 'Titillium Web', sans-serif;
    font-weight:400;
    color: white;
    transition-duration: 0.5s;
    float:right;
}

#downloadButton:hover {
    background-color: #0f9c0a;
}

#navbar {
    background-color: white;
    height: 75px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.thankyou {
    font-size:54px;
    font-family: 'Titillium Web', sans-serif;
    font-weight:900;
    color: #929292;
}

.contentBody {
    margin-top: 75px;
}

#backgroundContainer {
    height: 500px;
    width:100%;
}

#background {
    background-image: url("resources/NF5CWqR9_4x.jpg");
    filter: blur(8px) brightness(50%);
    -webkit-filter: blur(8px) brightness(50%);
    height: 500px;
    width: 100%;
    background-position: center;
    z-index: 0;
    resize: both;
    background-size: cover;
    position: absolute;
}

#content {
    margin-top: 0px;
    background-color: white;
    width: 100%;
    height: auto;
    z-index: 1;
    padding: 50px;
    padding-top: 100px;
}

#footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.footerItem {
    font-size: 14px;
    display: inline-flex;
    font-family: 'Titillium Web', sans-serif;
    color: darkgray;
    margin: 50px;
}

#navbarItems {
    width: auto;
    margin: 0px;
    margin-right: 100px;
    height: 75px;
    float: right;
}

.navbarLink {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    color: #6a6a6a;
    font-size: 20px;
    margin: 22.3px;
    transition-duration: 0.4s;
    display: inline-flex;
}

.navbarLink:hover {
    font-size: 24px;
    margin: 22.3px; 
    margin-top: 0px;
    margin-bottom: 0px;
    color: #595959;
}

#backgroundTitle {
    font-family: 'Titillium Web', sans-serif;
    font-size: 52px;
    text-align: center;
    color: white;
    font-weight: 700;
    position: relative;
    top: 200px;
    z-index: 2;
}

.chapterContainer {
    border-width: 2px;
    border-radius: 15px;
    border-color: darkgray;
    border-style: solid;
    width: 80%;
    margin: 50px;
    height: 300px;
    display: inline-flex;
    align-items: center;
}

.secondaryChapterTitle {
    font-family: 'Titillium Web', sans-serif;
    font-size: 52px;
    font-weight: 600;
    margin-left: 50px;
}

.chapterDescription {
    font-family: 'Titillium Web', sans-serif;
    float: right;
    margin-left: 100px;
    width: 500px;
}

.manualText {
    margin: 10px;
    text-align: center;
}