p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #929292;
}

#navbarTitle {
    float: left;
    margin: 10.3px;
    font-family: 'Titillium Web', sans-serif;
    font-size:36px;
}

#downloadButton {
    background-color: #17e80c;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    margin: 17.5px;
    width: 120px;
    font-family: 'Titillium Web', sans-serif;
    font-weight:400;
    color: white;
    transition-duration: 0.5s;
    float:right;
}

#downloadButton:hover {
    background-color: #0f9c0a;
}

#navbar {
    background-color: white;
    height: 75px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.thankyou {
    font-size:54px;
    font-family: 'Titillium Web', sans-serif;
    font-weight:900;
    color: #929292;
}

.contentBody {
    margin-top: 75px;
}

#achtergrond {
    background-image: url("resources/NF5CWqR9_4x.jpg");
    filter: blur(8px);
    -webkit-filter:blur(8px);
    height: 500px;
    background-position: center;
    z-index: 0;
    resize: both;
    background-size: cover;
}

#content {
    margin-top: 0px;
    background-color: white;
    width: 100%;
    height: 500px;
    z-index: 1;
}

#navbarItems {
    width: 600px;
    margin: 0px;
    float: right;
}

.navbarLink {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    color: #6a6a6a;
    font-size: 20px;
    padding: 20px;
}