p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #929292;
}

#navbarTitle {
    float: left;
    margin: 10.3px;
    font-family: 'Titillium Web', sans-serif;
    font-size:36px;
}

#downloadButton {
    background-color: #17e80c;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    margin: 17.5px;
    width: 120px;
    font-family: 'Titillium Web', sans-serif;
    font-weight:400;
    color: white;
    transition-duration: 0.5s;
}

#downloadButton:hover {
    background-color: #0f9c0a;
}

#navbar {
    background-color: white;
    height: 75px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    position: fixed;
    top: 0;
    width: 100%;
}

.thankyou {
    font-size:54px;
    font-family: 'Titillium Web', sans-serif;
    font-weight:900;
    color: #929292;
}

.contentBody {
    margin-top: 75px;
}