#article-container {
    width: 1200px;
    height: 700px;
    padding: 100px;
    margin-left: 60px;
    border-style: solid;
    border-color: gray;
    border-width: 4px;
}

h1 {
    font-family: 'IBM Plex Sans Condensed';
    font-size: 34px;
    font-weight: bold;
    width: 800px;
    margin-left: 200px;
}